<!--Footer for all pages-->
<link rel="stylesheet" href="/css/footer.css">
<div id="footer">
    
    <span>
        This website is developed and designed by Turbo Solutions Pvt. Ltd.
    </span>
    <br>
    <span>
        Please contact us for any copyright or develpment information @ rohitbca2019@gmail.com or call us at +91-8819968904
    </span>
    <br>
    <span>
        All rights reserved : Turbo Solutions Private Limited
    </span>
    <small> 
        <p class="card-text"></p>
        <p class="card-text"><small></small></p>
        <p class="card-text"></p>
    </small>
    
</div>