<!--This file will be rendered when new admission form is opened
Replication:
Click on Admissions link on menu in headers
--> 

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<%- include('_header'); %>
<style>
    label{
        width:15%;
        min-width: 150px;
        margin-top: 1%;
        font-weight: bold;
        display: block;
    }
    .gen-info{
        width: 15%;
        min-width: 150px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    select{
        width: 15%;
        min-width: 150px;
    }
    .par-info{
        width: 40%;
        min-width: 250px;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 2%;
    }
    
</style>
<body style="background-color: #435a6a66; color: #1a3a0fd1;" id="main">
    <form action="/admissions/getPreview" method="POST" class="container" id="admissionForm" >
        <h3><u>Academic details</u></h3>
        <div id="school-Info" style="display: flex; flex-wrap: wrap; margin-top: 1%; border-bottom: 1px solid black;">
            <div class="gen-info">
                <label>Class</label>
                <select required name="Class" style="width: 14%;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>kg-1</option>
                    <option>kg-2</option>
                </select>
            </div>
            <div class="gen-info">
                <label>Admission No</label>
                <input type="text" name="AdmissionNo" value="<%=ThisAdmissionNumber%>" readonly>
            </div>
            <div class="gen-info">
                <label>Medium</label>
                <input type="radio" name="Medium" value="Hindi"> Hindi
                <input type="radio" name="Medium" value="English"> English
            </div>
        </div>
        <h3 style="margin-top: 2%;"><u>General information</u></h3>
        <div id="General-info" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;border-bottom: 1px solid black;">
            <div class="gen-info">
                <label>First Name</label>
                <input required name="FirstName" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label >Last Name</label>
                <input required name="LastName" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>Father's Name</label>
                <input name="FathersName" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>Mother's Name</label>
                <input name="MothersName" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>Aadhar No</label>
                <input  name="AadharNumber" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>Samagra ID</label>
                <input name="SSSM" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>Mob No</label>
                <input type="text" placeholder="none" name="Mob">
            </div>
            <div class="gen-info">
                <label>Date of Birth</label>
                <input name="DOB" type="date" placeholder="none">
            </div>
            <div class="gen-info">
                <label>Caste</label>
                <input name="Caste" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>Category</label>
                <select required name="Category">
                    <option>SC</option>
                    <option>ST</option>
                    <option>OBC</option>
                    <option>Gen</option>
                    <option>Gen/ Creame layer</option>
                </select>
            </div>
        </div>

        <div>
            <div class="gen-info">
                <label>Religion</label>
                <input type="text" name="Religion">
            </div>
            <div class="gen-info">
                <label>Address</label>
                <textarea required style="margin-left: 0.33%;" cols="23" rows="3" class="my-2" name="FullAddress"></textarea>
            </div>
            <div class="gen-info">
                <input type="checkbox" name="isHandicapped" width="10%">
                Handicapped
            </div>
            <div class="gen-info">
                <label >Gender</label>
                <input type="radio" name="Gender" value="male"> Male
                <input type="radio" name="Gender" value="female"> Female
            </div>
        </div>

        
        <h3 style="margin-top: 3%;"><u>Parent's Information</u></h3>
        <div id="Parents-Information" style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;border-bottom: 1px solid black;">
            <div class="par-info">
                <label>Father's Education</label>
                <input type="text" name="FathersEducation">
            </div>

            <div class="par-info">
                <label>Mother's Education</label>
                <input type="text" name="MothersEducation">
            </div>
            <div class="par-info">
                <label>Father's Occupation</label>
                <input type="text" name="FathersOccupation">
            </div>

            <div class="par-info">
                <label class="par-info">Mother's Occupation</label>
                <input type="text" name="MothersOccupation">
            </div>
            <div class="par-info"> 
                <label>Father's Work place</label>
                <input type="text" name="FathersWorkPlace">
            </div>
            <div class="par-info">
                <label class="par-info">Mother's Work place</label>
                <input type="text" name="MothersWorkPlace">
            </div>
            <div class="par-info">
                <label>Father's Annual Income</label>
                <input type="text" name="FathersAnnualIncome">
            </div>

            <div class="par-info">
                <label>Mother's Annual Income</label>
                <input type="text" name="MothersAnnualIncome">
            </div>
        </div>
        <h3 style="margin-top: 3%;"><u>Last School Information</u></h3>
        <div id="Last-School-Record" style="display: flex; flex-wrap: wrap; justify-content: space-between;border-bottom: 1px solid black;">
            <div class="gen-info">
                <label>School Name</label>
                <input type="text" name="LastSchoolName">
            </div>

            <div class="gen-info">
                <label>Passing Class</label>
                <select name="LastPassingClass">
                    <option>Initial Admission</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>kg-1</option>
                    <option>kg-2</option>
                </select>
            </div>

            <div class="gen-info">
                <label>Passing Year</label>
                <input type="text" name="LastClassPassingYear">
            </div>

            <div class="gen-info">
                <label>Grade</label>
                <input type="text" name="LastClassGrade">
            </div>
        </div>
        <h3 style="margin-top: 3%;"><u>Bank Information</u></h3>
        <div id="Bank-Information" style="display: flex; justify-content: space-between; flex-wrap: wrap; align-items: flex-start;border-bottom: 1px solid black;">
            <div class="gen-info">
                <label>Bank Name</label>
                <input name="BankName" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>Branch</label>
                <input name="Branch" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>AccountNo</label>
                <input name="AccountNo" type="text" placeholder="none">
            </div>
            <div class="gen-info">
                <label>IFSC Code</label>
                <input name="IFSC" type="text" placeholder="none">
            </div>
        </div>
        <!--
        <div class="mx-2 my-4" style="display: flex; justify-content: space-around;">
            <input type="submit" value="Submit" class="btn btn-success">
        </div>
        -->
        <div class="mx-2 my-4" style="display: flex; justify-content: space-around;">
            <input type="submit" value="Preview" class="btn btn-success" id="preview">
        </div>
    </form>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
