
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other Receipts</title>
</head>
<body>
    <div>
        Person name<input type="text" name="" id="">
        Date <input type="date" name="" id="">
        Comment <input type="text" name="" id="">
        Amount <input type="number" name="" id="">
        <button onclick="saveTransaction">Save</button>
    </div>
</body>
</html>