<!--
    This page will be rendered if application is being started very first time and initial admission number is not there
-->
<body>
    <form action="/admissions/updateLastAdmission" method="post">
        <label> Enter last admission Number here to proceed</label>
        <input type="text" name="LastAdmission">
        <input type="submit">
    </form>
</body>