body{

    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: small;
}
.input-section{
    margin-bottom: 1%;
}

.container {
    max-width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

button{
    background-color: #007bff;
    color: white;
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    border-radius: 0.3rem;
}

.input-section input {
    padding: 2px;
    margin-right: 10px;
    margin-top: .5%;
    border: 0.2px solid black;
}

.button-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4%;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section input[type="month"] {
    padding: 10px;
    margin-right: 10px;
}



#transactions table {
    width: 100%;
    border-collapse: collapse;
    
}

#transactions th, #transactions td {
    padding: 4px;
    border-bottom: 1px solid #ddd;
}



#transactions th {
    background-color: #f2f2f2;
    text-align: left;
    position: sticky;
    top: -10%;
}

#totals {
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

#totals p {
    margin: 5px 0;
}

#totals span {
    font-weight: bold;
}
