body{
    background: linear-gradient(180deg, #0a807c 1%, #ebe6e6 30%, #f1f1ec 105%);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: small;
}
.header-container{

    width: 100%;
    height: 10%;
}


.container {
    max-width: 800px;
    margin: 8px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    margin-bottom: 20px;
}

.input-section input {
    padding: 2px;
    margin-right: 10px;
    margin-top: 2%;
    border: 0.2px solid black;
}

.button-group button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4%;
}

.filter-section {
    margin-bottom: 20px;
}

.filter-section input[type="month"] {
    padding: 10px;
    margin-right: 10px;
}

#transactions{
    overflow-y: scroll;
    border: 2px solid #0a807c9a;
    height: 50%;
    padding: 2%;
    margin-bottom: 1%;
}

#transactions table {
    width: 100%;
    border-collapse: collapse;
    
}

#transactions th, #transactions td {
    padding: 4px;
    border-bottom: 1px solid #ddd;
}



#transactions th {
    background-color: #f2f2f2;
    text-align: left;
    position: sticky;
    top: -10%;
}

#totals {
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

#totals p {
    margin: 5px 0;
}

#totals span {
    font-weight: bold;
}
