body{
    background: url('/images/background.jpg');
    background-size: contain;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: small;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sub-container{
    display: block;
    width: 71%;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}
input{
    text-transform: capitalize;
}