body{
    background: url('/images/background.jpg');
    background-size: cover;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sub-container{
    display: block;
    width: 71%;
    margin-left: 8%;
    margin-top: 2%;
}

table{
    width: 100%;
    
}
td, th{
    width: 15%;
    text-align: center;
    padding-top: 3%;
    
}

th{
    border-bottom: 1px solid black;
    padding-bottom: 2%;
}

button{
    margin-left: 3%;
}

#popup{
    height: 360px;
    width: 350px;
    border: 1px solid purple;
    background-color: antiquewhite;
    position: fixed;
    top: 25%;
    left: 40%;
}

#close-button{
    position: relative;
    top: 0%;
    left: 90%;
}

label{
    font-weight: bold;
    width: 25%;
}

.form-item{
    margin: 4%;
}

.student-details{
    margin-bottom: 1%;
    margin-left: 6%;
    margin-top: 5%;
}

.toggeler{
    height: 30px;
    width: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 3%;
 
}

span{
    text-align: center;
    width: 50%;
    border: 1px dotted #198754 ;
}

.fee-details{
    background-color: #198754;
    
}

.fee-history{
    background-color: transparent;
    
}

#fees-history{
    width: 100%;
    
}

#fees-details{
    width: 100%;
    
}

.details-div{
    height: 310px;
    overflow: scroll;
}