body{
    
    margin: 0.2%;
    background-color: #d4e9e2;
}

.header-container{
    
    width: 100%;
    height: 10%;
}

.body-container{
    
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

.footer-container{
    
    width: 100%;
    height: 14%;
}

.left-side-panel{
    width: 20%;
    height: 100%;
}


.center-body{
    
    width: 100%;
    height: 100%;
}

table{
    width: 100%;
    
}
td, th{
    width: 15%;
    text-align: center;
    padding-top: 3%;
    
}

th{
    border-bottom: 1px solid black;
    padding-bottom: 2%;
}

button{
    margin-left: 3%;
}

#popup{
    height: 360px;
    width: 350px;
    border: 1px solid purple;
    background-color: antiquewhite;
    position: fixed;
    top: 25%;
    left: 40%;
}
.student-details label{
    width: 100%;
    display: block;
}

#popup label{
    width: 30%;
    margin-left: 5%;
    margin-top: 3%;
    font-weight: bold;
}

#popup input, textarea{
    width: 50%;
}

#popup textarea{
    margin-top: 3%;
}
#close-button{
    position: relative;
    top: 0%;
    left: 90%;
}




.student-details{
    margin-bottom: 1%;
    margin-top: 5%;
    margin-left: 3%;
}

.toggeler{
    height: 30px;
    width: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 3%;
 
}

span{
    text-align: center;
    width: 50%;
    border: 1px dotted #198754 ;
}

.fee-details{
    background-color: #198754;
    
}

.fee-history{
    background-color: transparent;
    
}

#fees-history{
    width: 100%;
    
}

#fees-details{
    width: 100%;
    
}

.details-div{
    height: 80%;
    overflow: scroll;
}

input{
    text-transform: capitalize;
}