.logo{
    width: 15%;
}
.main-container{
    display: flex;
    justify-content: center;
}
.sub-container{
    width: 71%;
    margin-left: 8%;
}

#navbar1{
    position: fixed;
    top: 0%;
    background-color: #25977cdb;
    height: 10%;
    width: 100%;
    color: white;
    z-index: 500;
}

#navbar-items{
    color: white;
}

.dropdown-item{
    font-size: small;
    font-weight: bold;
}




