.logo{
    width: 15%;
}
.main-container{
    display: flex;
    justify-content: center;
}
.sub-container{
    width: 71%;
    margin-left: 8%;
}

#navbar1{
    position: fixed;
    top: 0%;
    background-color: transparent;
    height: 10%;
    width: 100%;
    color: white;
    

}

.edit-profile{
    height: 35px;
    width: 35px;
    margin-right: 3%;
}

.dropdown-item{
    font-size: small;
    font-weight: bold;
}

a:hover{
    color:red;
}

.dropdown-toggle:hover{
    color: red;
}





