
header{
    display: flex;
    justify-content: center;
    height: 100%;
}

.logo-container{
    width: 8%;
}


.options-container{
    width: 58%;
}

.profile-container{
    width: 34%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 1%;
}

.profile-container .btn{
    width: 20%;
    height: 80%;
}

.profile-container select{
    width: 50%;
    height: 80%;
}

.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li {
    display: inline-block  ;
    margin: 0px 8px 8px 0px;
    font-weight: 100;
    font-size: 0.9rem;
    margin-right: 1.5%;
    color: white;
    padding-top: 3%;
    font-weight: bolder;
    font-size: medium;
}

.noty-icon{
    height: 100%;
    width: 16%;
    margin-right: 4%;
}

.notifications{
    position: fixed;
    top: 10%;
    z-index: 5;
    left: 72%;
    height: 60%;
    width: 20%;
    background-color: #27918b;
    color: white;
    font-weight: 600;
    overflow: scroll;
    
}
.noty-count{
    position: relative;
    bottom: 105%; 
    left: 50%;
    background-color: rgb(236, 31, 65);
    text-align: center;
    border-radius: 50%;
    color: white;
    width: 55%;
    border-radius: 1.5rem;
    
}


.edit-profile{
    height: 35px;
    width: 35px;
    margin-right: 3%;
}

.dropdown-item{
    font-size: small;
    font-weight: bold !important;
    
}

#options{
    display: none;
}


@media screen and  (max-width: 560px) {
    .options-container{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 24%;
        width: 45%;
        right: 2%;
        z-index: 2;
        height: 55%;
        font-size: 1.5rem;
        background-color: rgb(30, 187, 187);
        border-radius: 1.5rem;
        padding-left: 5%;
    }
    .options-container li{
        display: block;
        font-size: 1.5rem;
    }
    .logo-container{
        width: 20%;
        margin-left: 0%;
        padding-left: 0%;
    }
    header{
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .edit-profile{
        display: none;
    }
    #select-school{
        display:  none;
    }
    .noty-icon{
        margin-top: 6%;
        height: 90%;
        width: 40%;
        margin-right: 4%;
    }
    #logout{
        width: 30%;
        height: 60%;
        font-size: 0.9rem;
        margin-top: 8%;
        padding-right: 15%;
    }
    #options{
        height: 60%;
        width: 40%;
        margin-top: 8%;
        display: inline;
    }

    .profile-container{
        width: 64%;
        display: flex;
        justify-content: space-between;
        margin-top: 1%;
        margin-left: 20%;
        margin-right: 1%;
    }
    
}







