body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: small;
    
}

.marksheet {
    width: 270mm;
    height: 390mm;
    margin-left: 0%;
    padding-left: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('/schools/SVVN/watermark5.png');
    background-repeat: no-repeat;
    background-size: contain;
}

@media print {
    .marksheet {
        border: 1px solid black;
        box-shadow: none;
        background-color: transparent;
    }
}

.data-heading{
    width: 30%;
    min-width: 100px;
    display: inline-block;
    font-weight: 600;
}

.dataset{
    margin-bottom: 1%;
}
.student-info {
    width: 94%;
    margin-left: 2%;
    display: flex;
    margin-bottom: 1%;
    border-bottom: 1px dotted black;
    padding-bottom: 1%;
    justify-content: space-between;
    margin-top: 5%;
}
.col1{
    width: 45%;
}

td{
    font-size: 19px;
}

th{
    font-size: 18px;
}

.col2{
    width: 60%;
}

.result-section{
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1%;
}

label{
    font-size: 17px;
}

#AcademicScore{
    width: 62%;
}
#LiteraryScore{
    width: 35%;
}
.result-section table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
}

.result-section th, .result-section td {
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
}

.co-ed-section table, table{
    width: 96%;
    text-align: center;
}

.co-ed-section th, .co-ed-section td, table th, table td{
    border: 1px solid #ccc;
    padding: 4px;
    text-align: center;
}
.official-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.signature {
    text-align: left;
    padding: 5px;
    width: 20%;
    
}
.role{
    margin-bottom: 30%;
}