body{
    background: url('/images/background.jpg');
    background-size: cover;
}
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sub-container{
    display: block;
    width: 68%;
    margin-left: 8%;
    margin-top: 2%;
}
.getClassDetailsForm{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
}

li{
    display: flex;
    justify-content: space-between;
    

}
label{
    width: 18%;
    min-width: 150px;
}
.student-list{
    width: 100%;
}
