body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.main {
    width: 720px; /* A4 width in pixels */
    height: 1040px; /* A4 height in pixels */
    border: 1px solid black;
    padding-left: 1%;
    padding-right: 1%;
    background-image: url('/schools/SVVN/watermark5.png');
    background-repeat: no-repeat;
    background-size: contain;

}
.header{
    
    height: 18%;
    width: 100%;
}

.heading{
    
    height: 3%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.academic-info{
    
    height: 8%;
    width: 100%;
    display: flex;
}

.main-content{
    
    height: 54%;
    width: 100%;
}

.extra-content{
    height: 14%;
    width: 100%;
}

.footer{
    height: 2%;
    width: 100%;
}

.ai-left{
    
    width: 50%;
    height: 100%;
    text-align: left;
}

.ai-right{
    
    width: 50%;
    height: 100%;
    text-align: right;
}

.ai-left label, .ai-right label{
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

p{
    font-size: medium;
    padding: 0.3%;
}