body{
    background: url('/images/background.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-size: small;
}

.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    padding-left: 0%;
}

.sub-container{
    display: block;
    width: 68%;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.getClassDetailsForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    width: 88%;
}


h1 {
    text-align: center;
    margin-top: 20px;
}

.student-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-table th, .student-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.student-table th {
    background-color: #f2f2f2;
}

.student-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.student-table tr:hover {
    background-color: #e0e0e0;
}

.edit-button, .delete-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .delete-button:hover {
    background-color: #0056b3;
}

.controlsSection{
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 5%;
    left: 30%;
    right: 30%;
    width: 40%;
}

.fixTableHead thead th {
    position: relative;
    top: 0;
    table-layout: fixed;
    border-collapse: collapse;
  }

  .fixTableHead {
    width: 100%;
    overflow-y: auto;
    height: 60%;
    margin: 0%;
    padding: 0%;
  }

  input{
    text-transform: capitalize;
}